bumpversion==0.5.3
wheel==0.32.1
watchdog==0.9.0
flake8==3.5.0
tox==3.5.2
coverage==4.5.1
Sphinx==1.8.1
twine==1.12.1

pytest==3.8.2
pytest-runner==4.2

requests==2.21.0
pyjavaprops==1.0.2
SQLAlchemy==1.2.15
psycopg2-binary==2.8
pysolr==3.8.1
pandas
urllib3==1.24.2
pytz==2018.7
python-crontab
anonymizeip
pid

